
<!--create by Z.Sattari 14/4/1398-->
<!--edit by Z.Sattari 15/4/1398-->
<!DOCTYPE html>
<html dir="rtl">
<head>
    <link rel="stylesheet" href="../public/styles/style.css"/>
    <link rel="stylesheet" href="../public/styles/bootstrap.min.css">

</head>

<body class="mainm">
<div id="menue"></div>

<script src="../public/node_modules/ckeditor/ckeditor.js"></script>
<script src="../public/js/jquery-3.2.1.slim.min.js"></script>
<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/popper.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/jquery-3.2.1.slim.min.js"></script>
<script src="../public/js/select2.min.js"></script>
<script src="../public/js/jquery-3.4.1.min.js"></script>
<script>
    $("li").click(function(){
        $("li").css({"background-color":"rgb(237,237,237)"});
        $(this).css({"background-color":"#c6c8cc"});

    });
    $(document).ready(function(){
        console.log("flag")
        console.log({{.flaghshow}});
        if("1"=={{.flaghshow}})
        {
            $("#menue").append('<div class="col-10 main-left" >\n' +
            '    {{yield}}\n' +
            '</div>');
            $("#menue").append('<div  class="col-2 main-right"> <div class="container">\n' +
                '        <div class="panel-group" id="accordionMenu" role="tablist" aria-multiselectable="true">\n' +
                '            <div class="panel panel-default">\n' +
                '                <div class="panel-heading" role="tab" id="headingOne">\n' +
                '                    <h5 class="panel-title">\n' +
                '                        <a role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">نامه ها</a>\n' +
                '                    </h5>\n' +
                '                </div>\n' +
                '                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">\n' +
                '                    <div class="panel-body">\n' +
                '                        <ul class="nav">\n' +
                '                            <li style="width: 100%"><a href="/letter">لیست نامه ها</a></li>\n' +
                '                            <li style="width: 100%"><a href="/letter/listletterfill">لیست نامه های پرشده</a></li>\n' +
                '                            <li style="width: 100%"><a href="/letter/addletter">اضافه کردن نامه</a></li>\n' +
                '                            <li style="width: 100%"><a href="/letterarchive">نامه های بایگانی شده</a></li>\n' +
                '                        </ul>\n' +
                '                    </div>\n' +
                '                </div>\n' +
                '            </div>\n' +
                '            <div class="panel panel-default">\n' +
                '                <div class="panel-heading" role="tab" id="headingTwo">\n' +
                '                    <h5 class="panel-title">\n' +
                '                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">\n' +
                'قراردادها' +
                '                        </a>\n' +
                '                    </h5>\n' +
                '                </div>\n' +
                '                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">\n' +
                '                    <div class="panel-body">\n' +
                '                        <ul class="nav">\n' +
                '                            <li style="width: 100%"><a href="/agreement/agreementlist">لیست قراردادها</a></li>\n' +
                '                            <li style="width: 100%"><a href="/fillagreement/fillagreementlist">لیست قراردادهای پرشده</a></li>\n' +
                '                            <li style="width: 100%"><a href="/agreement/addagreement">اضافه کردن قرارداد</a></li>\n' +
                '                        </ul>\n' +
                '                    </div>\n' +
                '                </div>\n' +
                '            </div>\n' +

                '            <div class="panel panel-default">\n' +
                '                <div class="panel-heading" role="tab" id="headingFour">\n' +
                '                    <h5 class="panel-title">\n' +
                '                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">\n' +
                'داشبورد' +
                '                        </a>\n' +
                '                    </h5>\n' +
                '                </div>\n' +
                '                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">\n' +
                '                    <div class="panel-body">\n' +
                '                        <ul class="nav">\n' +
                '                            <li style="width: 100%"><a href="/login/adduser">ثبت نام</a></li>\n' +
                '                            <li style="width: 100%"><a href="/zone/addzone">افزودن منطقه</a></li>\n' +
                '                            <li style="width: 100%"><a href="/zone">لیست منطقه</a></li>\n' +
                '                            <li style="width: 100%"><a href="/position/addposition">افزودن سمت</a></li>\n' +
                '                            <li style="width: 100%"><a href="/position">لیست سمت</a></li>\n' +
                '                            <li style="width: 100%"><a href="/organization/addorganization">افزودن سازمان</a></li>\n' +
                '                            <li style="width: 100%"><a href="/organization">لیست سازمان</a></li>\n' +
                '                            <li style="width: 100%"><a href="/posorganzone/addposorgan">افزودن سمت سازمان </a></li>\n' +
                '                            <li style="width: 100%"><a href="/posorganzone/addzone">افزودن سمت سازمان منطقه</a></li>\n' +
                '                        </ul>\n' +
                '                    </div>\n' +
                '                </div>\n' +
                '            </div>\n' +


                '            <div class="panel panel-default">\n' +
                '                <div class="panel-heading" role="tab" id="headingThree">\n' +
                '                    <h5 class="panel-title">\n' +
                '                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">\n' +
                                            'ارجاعات' +
                '                        </a>\n' +
                '                    </h5>\n' +
                '                </div>\n' +
                '                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">\n' +
                '                    <div class="panel-body">\n' +
                '                        <ul class="nav">\n' +
                '                            <li style="width: 100%"><a href="/box/inbox">کارتابل جاری </a></li>\n' +
                '                            <li style="width: 100%"><a href="/box/outbox">کارتابل پیگیری</a></li>\n' +
                '                        </ul>\n' +
                '                    </div>\n' +
                '                </div>\n' +
                '            </div>\n' +
                '        </div>\n' +
                '    </div> </div>')
        }
        else {
            $("#menue").append({{yield}});
        }
        //$("#alaki2").hide();
    });
</script>
</body>
</html>






