<!-----create agreement in 7/5/1398 by Z.Sattari-->
<!-- edit by H.MLK 16/5/1398-->

<!DOCTYPE html>
<html dir="rtl">
<head>
    <link rel="stylesheet" href="../../public/styles/style.css"/>
    <link rel="stylesheet" href="../../public/styles/bootstrap.min.css">
    <!-- Include all Editor plugins CSS style. -->
    <link href="../../public/node_modules/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="../../public/node_modules/froala-editor/css/froala_style.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

<!-- Editable table -->
<div class="card">

    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Log</h3>


    <div id="table" class="table-editable">
        <table class="table table-bordered table-responsive-md table-striped text-center" style="margin-top: 2px">
            <thead>
            <tr>

                <th class="text-center">شماره دانشجویی</th>
                <th class="text-center">زمان ورود</th>

            </tr>
            </thead>
            <tbody>
            {{range .rng}}
                <tr>
                    <td class="pt-3-half">{{.StudentNum}}</td>
                    <td class="pt-3-half">{{.EnterTime}}</td>



                </tr>
            {{end}}

            </tbody>
        </table>

    </div>
</div>


</div>


<script src="../../public/js/jquery-3.2.1.slim.min.js"></script>
<script src="../../public/js/jquery.min.js"></script>
<script src="../../public/js/popper.min.js"></script>
<script src="../../public/js/bootstrap.min.js"></script>



</body>
</html>